---
general:
  # Debug mode, only for development. Is overwritten by ${SEARXNG_DEBUG}
  debug: false
  # Displayed name
  instance_name: SearXNG
  # For example: https://example.com/privacy
  privacypolicy_url: false
  # Enable/disable donation page written in searx/info/en/donate.md
  donation_url: false
  # mailto:contact@example.com
  contact_url: false
  # Enable/disable /stats and /metrics endpoint
  enable_metrics: true

brand:
  new_issue_url: https://github.com/searxng/searxng/issues/new
  docs_url: https://docs.searxng.org/
  public_instances: https://searx.space
  wiki_url: https://github.com/searxng/searxng/wiki
  issue_url: https://github.com/searxng/searxng/issues

search:
  # Filter results. 0: None, 1: Moderate, 2: Strict
  safe_search: 0
  # Existing autocomplete backends:
  # "360search", "baidu", "brave", "dbpedia", "duckduckgo", "google", "yandex",
  # "mwmbl", "seznam", "sogou", "stract", "swisscows", "quark", "qwant", "wikipedia"
  # leave blank to turn it off by default.
  autocomplete: duckduckgo
  # Minimum number of characters to type before autocompleter starts
  autocomplete_min: 4
  # Available resolvers: "allesedv", "duckduckgo", "google", "yandex" - leave blank to turn it off by default.
  favicon_resolver: ""
  # Default search language - leave blank to detect from browser information or use codes from 'languages.py'
  default_lang: "auto"
  # Ban time in seconds after engine errors
  ban_time_on_fail: 5
  # Max ban time in seconds after engine errors
  max_ban_time_on_fail: 120
  # Engine suspension time after error (in seconds; set to 0 to disable)
  suspended_times:
    # For error "Access denied" and "HTTP error [402, 403]"
    SearxEngineAccessDenied: 86400
    # For error "CAPTCHA"
    SearxEngineCaptcha: 86400
    # For error "Too many request" and "HTTP error 429"
    SearxEngineTooManyRequests: 3600
    # Cloudflare CAPTCHA
    cf_SearxEngineCaptcha: 1296000
    cf_SearxEngineAccessDenied: 86400
    # ReCAPTCHA
    recaptcha_SearxEngineCaptcha: 604800
  # Results format [html, csv, json, rss]
  formats:
    - html
    - json

server:
  port: 8080
  # Address to listen on
  bind_address: "127.0.0.1"
  secret_key: "ultrasecretkey" # change this!
  # Set custom base_url. Possible values: false or "https://your.custom.host/location/"
  base_url: /
  # Rate limit the number of request on the instance, block some bots.
  # Is overwritten by ${SEARXNG_LIMITER}
  limiter: false
  # Proxy image results through SearXNG. Is overwritten by ${SEARXNG_IMAGE_PROXY}
  image_proxy: false
  http_protocol_version: "1.0"  # 1.0 and 1.1 are supported
  # POST queries are more secure as they don't show up in history but may cause problems when using Firefox containers
  method: "POST"
  default_http_headers:
    X-Content-Type-Options: nosniff
    X-Download-Options: noopen
    X-Robots-Tag: noindex, nofollow
    Referrer-Policy: no-referrer

ui:
  # Hotkeys: default or vim
  hotkeys: default
  # UI theme
  default_theme: simple
  theme_args:
    # style of simple theme: auto, light, dark, black
    simple_style: black

outgoing: # communication with search engines
  # Default timeout in seconds, can be override by engine
  request_timeout: 3.0
  # Suffix of searx_useragent, could contain information like an email address to the administrator
  useragent_suffix: ""
  # Maximum number of concurrent connections that may be established
  pool_connections: 100
  # Allow the connection pool to maintain keep-alive connections below this point
  pool_maxsize: 20
  # See https://www.python-httpx.org/http2/
  enable_http2: true

plugins:
  searx.plugins.calculator.SXNGPlugin:
    active: true
  searx.plugins.infinite_scroll.SXNGPlugin:
    active: true
  searx.plugins.hash_plugin.SXNGPlugin:
    active: true
  searx.plugins.self_info.SXNGPlugin:
    active: true
  searx.plugins.unit_converter.SXNGPlugin:
    active: true
  searx.plugins.ahmia_filter.SXNGPlugin:
    active: false
  searx.plugins.hostnames.SXNGPlugin:
    active: false
  searx.plugins.time_zone.SXNGPlugin:
    active: true
  searx.plugins.oa_doi_rewrite.SXNGPlugin:
    active: false
  searx.plugins.tor_check.SXNGPlugin:
    active: false
  searx.plugins.tracker_url_remover.SXNGPlugin:
    active: true

categories_as_tabs:
  general:
  images:
  videos:
  news:
  map:
  music:
  it:
  science:
  files:
  social media:

engines:
  - name: wikipedia
    disabled: false
    engine: wikipedia
    shortcut: wp
    # add "list" to the array to get results in the results list
    display_type: ["infobox"]
    categories: [general]

  - name: wikidata
    disabled: false
    engine: wikidata
    shortcut: wd
    # add "list" to the array to get results in the results list
    display_type: ["infobox"]
    categories: [general]
    timeout: 3.0
    weight: 2

  - name: bing
    disabled: false
    engine: bing
    shortcut: bi

  - name: bing images
    disabled: false
    engine: bing_images
    shortcut: bii

  - name: bing news
    disabled: false
    engine: bing_news
    shortcut: bin

  - name: bing videos
    disabled: false
    engine: bing_videos
    shortcut: biv

  - name: currency
    disabled: false
    engine: currency_convert
    categories: general
    shortcut: cc

  - name: docker hub
    disabled: false
    engine: docker_hub
    shortcut: dh
    categories: [it, packages]

  - name: duckduckgo
    disabled: false
    engine: duckduckgo
    shortcut: d

  - name: duckduckgo images
    disabled: false
    engine: duckduckgo_extra
    categories: [images]
    ddg_category: images
    shortcut: ddi

  - name: duckduckgo videos
    disabled: false
    engine: duckduckgo_extra
    categories: [videos]
    ddg_category: videos
    shortcut: ddv

  - name: duckduckgo news
    disabled: false
    engine: duckduckgo_extra
    categories: [news]
    ddg_category: news
    shortcut: ddn

  - name: duckduckgo weather
    disabled: false
    engine: duckduckgo_weather
    shortcut: ddw

  - name: duckduckgo definitions
    disabled: false
    engine: duckduckgo_definitions
    shortcut: ddd
    weight: 2

  - name: gitlab
    disabled: false
    engine: gitlab
    base_url: https://gitlab.com
    shortcut: gl
    about:
      website: https://gitlab.com/
      wikidata_id: Q16639197

  - name: github
    disabled: false
    engine: github
    shortcut: gh

  - name: github code
    engine: github_code
    shortcut: ghc
    inactive: true
    ghc_auth:
      # type is one of:
      # * none
      # * personal_access_token
      # * bearer
      # When none is passed, the token is not requried.
      type: "none"
      token: "token"
    # specify whether to highlight the matching lines to the query
    ghc_highlight_matching_lines: true
    ghc_strip_new_lines: true
    ghc_strip_whitespace: false
    timeout: 10.0

  - name: codeberg
    disabled: false
    engine: gitea
    base_url: https://codeberg.org
    shortcut: cb

  - name: gitea.com
    disabled: false
    engine: gitea
    base_url: https://gitea.com
    shortcut: gitea

  - name: google
    disabled: false
    engine: google
    shortcut: go

  - name: google images
    disabled: false
    engine: google_images
    shortcut: goi

  - name: google news
    disabled: false
    engine: google_news
    shortcut: gon

  - name: google videos
    disabled: false
    engine: google_videos
    shortcut: gv

  - name: google scholar
    disabled: false
    engine: google_scholar
    shortcut: gs

  - name: imdb
    disabled: false
    engine: imdb
    shortcut: imdb
    timeout: 6.0

  - name: lemmy communities
    disabled: false
    engine: lemmy
    lemmy_type: Communities
    shortcut: leco

  - name: lemmy users
    disabled: false
    engine: lemmy
    network: lemmy communities
    lemmy_type: Users
    shortcut: leus

  - name: lemmy posts
    disabled: false
    engine: lemmy
    network: lemmy communities
    lemmy_type: Posts
    shortcut: lepo

  - name: lemmy comments
    disabled: false
    engine: lemmy
    network: lemmy communities
    lemmy_type: Comments
    shortcut: lecom

  - name: library genesis
    disabled: false
    engine: xpath
    # search_url: https://libgen.is/search.php?req={query}
    search_url: https://libgen.rs/search.php?req={query}
    url_xpath: //a[contains(@href,"book/index.php?md5")]/@href
    title_xpath: //a[contains(@href,"book/")]/text()[1]
    content_xpath: //td/a[1][contains(@href,"=author")]/text()
    categories: files
    timeout: 7.0
    shortcut: lg
    about:
      website: https://libgen.fun/
      wikidata_id: Q22017206
      official_api_documentation:
      use_official_api: false
      require_api_key: false
      results: HTML

  - name: lobste.rs
    disabled: false
    engine: xpath
    search_url: https://lobste.rs/search?q={query}&what=stories&order=relevance
    results_xpath: //li[contains(@class, "story")]
    url_xpath: .//a[@class="u-url"]/@href
    title_xpath: .//a[@class="u-url"]
    content_xpath: .//a[@class="domain"]
    categories: it
    shortcut: lo
    timeout: 5.0
    about:
      website: https://lobste.rs/
      wikidata_id: Q60762874
      official_api_documentation:
      use_official_api: false
      require_api_key: false
      results: HTML

  - name: mankier
    disabled: false
    engine: json_engine
    search_url: https://www.mankier.com/api/v2/mans/?q={query}
    results_query: results
    url_query: url
    title_query: name
    content_query: description
    categories: it
    shortcut: man
    about:
      website: https://www.mankier.com/
      official_api_documentation: https://www.mankier.com/api
      use_official_api: true
      require_api_key: false
      results: JSON

  - name: odysee
    disabled: false
    engine: odysee
    shortcut: od

  - name: ollama
    disabled: false
    engine: ollama
    shortcut: ollama

  - name: openstreetmap
    disabled: false
    engine: openstreetmap
    shortcut: osm

  - name: pubmed
    disabled: false
    engine: pubmed
    shortcut: pub
    timeout: 3.0

  - name: pypi
    disabled: false
    shortcut: pypi
    engine: pypi

  - name: qwant
    disabled: false
    qwant_categ: web
    engine: qwant
    shortcut: qw
    categories: [general, web]

  - name: qwant news
    disabled: false
    qwant_categ: news
    engine: qwant
    shortcut: qwn
    categories: news
    network: qwant

  - name: qwant images
    disabled: false
    qwant_categ: images
    engine: qwant
    shortcut: qwi
    categories: [images, web]
    network: qwant

  - name: qwant videos
    disabled: false
    qwant_categ: videos
    engine: qwant
    shortcut: qwv
    categories: [videos, web]
    network: qwant

  - name: reddit
    disabled: false
    engine: reddit
    shortcut: re
    page_size: 25
    timeout: 10.0

  - name: sepiasearch
    disabled: false
    engine: sepiasearch
    shortcut: sep

  - name: stackoverflow
    disabled: false
    engine: stackexchange
    shortcut: st
    api_site: 'stackoverflow'
    categories: [it, q&a]

  - name: startpage
    disabled: false
    engine: startpage
    shortcut: sp
    timeout: 6.0

  - name: urbandictionary
    disabled: true  # Too many errors
    shortcut: ud
    engine: xpath
    search_url: https://www.urbandictionary.com/define.php?term={query}
    url_xpath: //*[@class="word"]/@href
    title_xpath: //*[@class="def-header"]
    content_xpath: //*[@class="meaning"]

  - name: yahoo
    disabled: false
    engine: yahoo
    shortcut: yh

  - name: yahoo news
    disabled: false
    engine: yahoo_news
    shortcut: yhn

  - name: youtube
    disabled: false
    shortcut: yt
    engine: youtube_noapi

  - name: youtube_api
    # You can use the engine using the official stable API, but you need an API
    # key See: https://console.developers.google.com/project
    engine: youtube_api
    # api_key: ''  # required!
    shortcut: yta
    inactive: true

  - name: dailymotion
    disabled: false
    engine: dailymotion
    shortcut: dm

  - name: vimeo
    disabled: false
    engine: vimeo
    shortcut: vm

  - name: wiby
    disabled: false
    engine: json_engine
    paging: true
    search_url: https://wiby.me/json/?q={query}&p={pageno}
    url_query: URL
    title_query: Title
    content_query: Snippet
    categories: [general, web]
    shortcut: wib
    about:
      website: https://wiby.me/

  - name: wikibooks
    disabled: false
    engine: mediawiki
    shortcut: wb
    categories: general
    base_url: "https://{language}.wikibooks.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wikibooks.org/
      wikidata_id: Q367

  - name: wikinews
    disabled: false
    engine: mediawiki
    shortcut: wn
    categories: news
    base_url: "https://{language}.wikinews.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wikinews.org/
      wikidata_id: Q964

  - name: wikiquote
    disabled: false
    engine: mediawiki
    shortcut: wq
    categories: general
    base_url: "https://{language}.wikiquote.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wikiquote.org/
      wikidata_id: Q369

  - name: wikisource
    disabled: false
    engine: mediawiki
    shortcut: ws
    categories: general
    base_url: "https://{language}.wikisource.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wikisource.org/
      wikidata_id: Q263

  - name: wiktionary
    disabled: false
    engine: mediawiki
    shortcut: wt
    categories: general
    base_url: "https://{language}.wiktionary.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wiktionary.org/
      wikidata_id: Q151

  - name: wikiversity
    disabled: true
    engine: mediawiki
    shortcut: wv
    categories: general
    base_url: "https://{language}.wikiversity.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wikiversity.org/
      wikidata_id: Q370

  - name: wikivoyage
    disabled: true
    engine: mediawiki
    shortcut: wy
    categories: general
    base_url: "https://{language}.wikivoyage.org/"
    number_of_results: 5
    search_type: text
    about:
      website: https://www.wikivoyage.org/
      wikidata_id: Q373

  - name: wolframalpha
    disabled: true
    shortcut: wa
    engine: wolframalpha_noapi
    timeout: 6.0
    categories: general
    disabled: true

  - name: wolframalpha_api
    # You can use the engine using the official stable API, but you need an API
    # key.  See: https://products.wolframalpha.com/api/
    engine: wolframalpha_api
    # api_key: ''  # required!
    shortcut: waa
    timeout: 6.0
    categories: general
    inactive: true

  - name: dictzone
    disabled: false
    engine: dictzone
    shortcut: dc

  - name: duden
    disabled: false
    engine: duden
    shortcut: du

  - name: mojeek
    disabled: true
    shortcut: mjk
    engine: mojeek
    categories: [general, web]

  - name: mojeek images
    disabled: true
    shortcut: mjkimg
    engine: mojeek
    categories: [images, web]
    search_type: images
    paging: false

  - name: mojeek news
    disabled: true
    shortcut: mjknews
    engine: mojeek
    categories: [news, web]
    search_type: news
    paging: false

  - name: national vulnerability database
    disabled: true
    engine: nvd
    shortcut: nvd

  - name: naver
    disabled: true
    categories: [general, web]
    engine: naver
    shortcut: nvr

  - name: naver images
    disabled: true
    naver_category: images
    categories: [images]
    engine: naver
    shortcut: nvri

  - name: naver news
    disabled: true
    naver_category: news
    categories: [news]
    engine: naver
    shortcut: nvrn

  - name: naver videos
    disabled: true
    naver_category: videos
    categories: [videos]
    engine: naver
    shortcut: nvrv

  - name: peertube
    disabled: true
    engine: peertube
    shortcut: ptb
    paging: true
    # https://instances.joinpeertube.org/instances
    base_url: https://peertube.biz/
    # base_url: https://tube.tardis.world/
    categories: videos
    timeout: 6.0

  - name: rumble
    disabled: false
    engine: rumble
    shortcut: ru
    base_url: https://rumble.com/
    paging: true
    categories: videos

  - name: wikimini
    engine: xpath
    shortcut: wkmn
    search_url: https://fr.wikimini.org/w/index.php?search={query}&title=Sp%C3%A9cial%3ASearch&fulltext=Search
    url_xpath: //li/div[@class="mw-search-result-heading"]/a/@href
    title_xpath: //li//div[@class="mw-search-result-heading"]/a
    content_xpath: //li/div[@class="searchresult"]
    categories: general
    disabled: true
    about:
      website: https://wikimini.org/
      wikidata_id: Q3568032
      use_official_api: false
      require_api_key: false
      results: HTML

  - name: brave
    disabled: false
    engine: brave
    shortcut: br
    time_range_support: true
    paging: true
    categories: [general, web]
    brave_category: search
    # brave_spellcheck: true

  - name: brave.images
    disabled: false
    engine: brave
    network: brave
    shortcut: brimg
    categories: [images, web]
    brave_category: images

  - name: brave.videos
    disabled: false
    engine: brave
    network: brave
    shortcut: brvid
    categories: [videos, web]
    brave_category: videos

  - name: brave.news
    disabled: false
    engine: brave
    network: brave
    shortcut: brnews
    categories: news
    brave_category: news

doi_resolvers:
  oadoi.org: https://oadoi.org/
  doi.org: https://doi.org/
  doai.io: https://dissem.in/
  sci-hub.se: https://sci-hub.se/
  sci-hub.st: https://sci-hub.st/
  sci-hub.ru: https://sci-hub.ru/

default_doi_resolver: oadoi.org
