---
name: Test

on:  # yamllint disable-line rule:truthy
  workflow_call: # allow this workflow to be called from other workflows

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Setup just
        uses: extractions/setup-just@v3

      - name: Run tests
        run: just test
